
<div class="bg">

    <body class="Head">
        <h1>ONLINE RAILWAY RESERVATION SYSTEM</h1>
    </body>

    <div class="card" style="width: 50rem;">
        <div class="card-header">
            User Control
        </div>
        <ul class="list-group list-group-flush">
            <button class="list-group-item" routerLink='/bookSeats'>TICKET RESERVATION</button>
            <button class="list-group-item" routerLink='/cancel'>CANCEL TICKET </button>
            <button class="list-group-item" routerLink='/editTicket'>update-ticket</button>
            <button class="list-group-item"  (click)="logout()"> LOG-OUT </button>
        </ul>
    </div>
</div>