<body class="bg">



    <div class="Head">
        <h1>ONLINE RAILWAY RESERVATION SYSTEM</h1>


        <div class="container">
            <div class="row">
                <div class="col-sm-2 col-md-2 col-lg-2 mx-auto">
                    <div class="card-body p-1 p-sm-1" style="text-align: center;">
                        <ul style="text-align: left;">
                            <br>
                            <li><b>Admin Control</b></li>
                            <br>
                            <li> <a routerLink="/add">Add trains</a></li>
                            <br>
                            <li><a routerLink="/Trains">Manage trains</a></li>
                            <br>
                            <li><a routerLink="/home">Back to Home</a></li>
                            <br>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
